{# The footer #}


<div class="uk-align-left uk-contrast">
	<h3>Quicklinks</h3>
    	<ul class="uk-nav uk-nav-side">
           {% include 'footerNav.html.twig' %}
    	</ul>
</div>
<div class="uk-align-center uk-contrast">

<h3>Opening Hours:</h3>
	<ul class="uk-list">
		<li>Mon - Fri :	7.30 am-8.00 pm</li>
		<li>Sat - Sun : 9.00 am-7.00 pm</li>

	</ul>
	<p>It is {{ "now"|date('H:i', timezone="Europe/Dublin") }} on the {{ "now"|date("d/m/y") }} {% if ("now"|date('H:i')>20.00)
		or ("now"|date('H:i')<=8.00) %}and we are closed{% else %}we are open{% endif %}</p>

	<a class="uk-icon-button uk-icon-facebook" href=""></a>
</div>
<div class="uk-align-right uk-contrast">
    <h3>&copy; McGoverns Garage</h3>

    Killineer,<br>
	Drogheda,<br>
	Co.Louth
    <p>Email: <a href="mailto:tommymcgov@gmail.com">tommymcgov@gmail.com</a></p>
	Call: 041 9831316


</div>
