{# {% if pages is defined %} #}
    {% for page in app.pages %}
        <li><a href="{{ app.request.basepath }}/{{ page.pageRoute|lower }}">{{ page.pageName|capitalize }}</a></li>
    {% endfor %}
{# {% endif %} #}
