{# the home page template #}
{% extends 'base.html.twig' %}

{% set active_page = 'home' %}

{% block title %}
    {{ active_page }}
{% endblock %}

{#  panels containing introductory pictures/text to different sections of the site #}
 {% block unique_page_content %}
     <div class="uk-grid uk-margin-large-bottom">

        <div class="uk-width-medium-1-2">
             <div class="uk-panel uk-panel-box uk-panel-header">
                 <h1 class="uk-panel-title">Sales</h1>
                 <div class="uk-panel-teaser uk-panel-space">
                     <img class="panel-image" src="images/santa_fe.jpg" alt="generic car pic">
                 </div>
                 <p>At McGovern's, we have a good range of quality used cars for sale. All our cars are fully serviced and NCT'd before every sale.</p>
                 <a href="/sales" class="uk-button uk-button-primary">Sales Department</a>
             </div>
        </div>

         <div class="uk-width-medium-1-2">
             <div class="uk-panel uk-panel-box uk-panel-header">
                 <h1 class="uk-panel-title">Service and Repair</h1>
                 <div class="uk-panel-teaser uk-panel-space">
                     <img class="panel-image" src="images/car-service.jpg" alt="engine pic">
                 </div>
                 <p>We also do full services at affordable rates. Check out our promotions for even better deals on car service.</p>
                 <a href="/service" class="uk-button uk-button-primary">Service Department</a>
             </div>
         </div>

     </div>
 {% endblock %}

{# information and introduction to the business #}
{% block home_panels %}


    <div class="uk-grid uk-grid-match uk-text-center" data-uk-grid-match="{target:'.uk-panel'}">
            <div class="uk-width-medium-1-1 uk-container-center uk-panel">
                <div class="uk-panel uk-panel-box heading-panel">
                    <h2 class="uk-panel-title ">About Us.</h2>
                    {#<div class="uk-panel-teaser">#}
                        {#<img class="uk-align-medium-left uk-thumbnail-large" src="{{ app.request.basepath }}/images/old.jpg" alt="old picture of mcgoverns">#}
                    {#</div>#}
                    <p class="uk-article-lead">
                        McGoverns have been servicing and repairing all makes and models of cars in the Drogheda and Louth region since 1979.
                        In that time we have built up a loyal base of customers thanks to our quality and professional service.
                    </p>

                    <p class="uk-text-large">
                        We are a family owned and managed business and are happy to assist our customers in any way we can for all their motoring needs.
                    </p>
                </div>
            </div>

        <div class="uk-width-medium-1-1 uk-container-center uk-panel">
            <div class="uk-panel uk-panel-box heading-panel">
                <h2 class="uk-panel-title">Forecourt</h2>
                <p class="uk-text-primary">We have a complete forecourt service with diesel & petrol fuel pumps and a 24 hour fuel card service on the DCI network.
                    We also supply green diesel, low sulphur mark gas oil.
                </p>
                <p class="uk-text-large">
                    We are happy to quote for tyres, batteries, lights etc and are confident to supply our trusted brand product suppliers.
                </p>
            </div>
        </div>


        <div class="uk-width-medium-1-1 uk-container-center uk-panel">
            <div id="promo-panel" class="uk-panel uk-panel-box heading-panel">
                <div class="uk-panel-badge uk-badge uk-badge-danger">NEW!</div>
                <h1 class="uk-panel-title uk-text-danger">Promotions</h1>
                <p class="uk-text-bold">We are currently offering a full winter service for 180euro.</p>
                {# modal anchor #}
                <button class="uk-button uk-button-danger" data-uk-modal="{target:'#promotion-modal'}">Promotion Details</button>
            </div>
        </div>
        <!-- This is the modal -->
        <div id="promotion-modal" class="uk-modal">
            <div class="uk-modal-dialog">
                <a class="uk-modal-close uk-close"></a>
                <h1 class="uk-panel-title uk-text-danger">Promotions</h1>
                <p class="uk-text-bold">We are currently offering a full winter service for &euro;180.</p>
                <p>Full service includes - </p>
                <ul class="uk-list uk-list-space">
                    <li>Oil change</li>
                    <li>Fresh spark plugs</li>
                    <li>Oil and air filter change</li>
                    <li>Tracking</li>
                    <li>Car wash</li>
                </ul>
                <a href="/contact" class="uk-button uk-button-primary">Get Promotion</a>
            </div>
        </div>

        <div class="uk-width-medium-1-1 uk-container-center uk-panel">
            <div class="uk-panel uk-panel-box heading-panel">
                <h2 class="uk-panel-title">Location</h2>
                <p>
                <div class="uk-align-center" style="width:400px;height:300px;max-width:100%;">
                    <div id="my-map-display" style="height:100%; width:95%;max-width:100%;">
                        <iframe class="uk-align-right" frameborder="0" style="border:0;height:100%;width:100%;"
                                src="https://www.google.com/maps/embed/v1/place?q=mcgoverns%20drogheda&key=AIzaSyCR4lw_DQSpx1Mx8wBFT7vP6_R548xXx4Y&zoom=12" allowfullscreen></iframe>
                        {#<iframe class="uk-align-right" style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=mcgoverns+garage+drogheda&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>#}
                    </div>

                    <style>#my-map-display img{max-width:none!important;background:none!important;font-size: inherit;}</style>
                </div>
                <p class="uk-text-large">
                    McGoverns Garage is located in Killineer, just north of Drogheda, on the main road into town.
                    We provide the full range of garage & car related services and can guarantee a professional job, every time.
                </p>


            </div>
        </div>
    </div>

{% endblock %}












