{# The log-in form #}
{% extends 'base.html.twig' %}
{% set active_page = 'home' %}
{% block title %}
	Log-in
{% endblock %}

{% block sidebar %}{% endblock %}
{% block search %}{% endblock %}
{% block unique_page_content %}

    <div class="uk-vertical-align uk-text-center uk-height-1-1 uk-margin-large-top">
    <div class="uk-vertical-align-middle" style="width: 250px;">
		{{ error }}
		<form class="uk-panel uk-panel-box uk-form login-form" action="{{ path('admin_login_check') }}" method="post">

                <div class="uk-form-row">
                    <input class="uk-width-1-1 uk-form-large" type="text" name="_username" value="{{ last_username }}" id="username" placeholder="Username" required/>
                </div>
                <div class="uk-form-row">
                    <input class="uk-width-1-1 uk-form-large" type="password" name="_password" value="password" id="password" placeholder="Password" required/>
                </div>
                <input type="hidden" name="_target_path" value="/admin/dashboard"/>
                <div class="uk-form-row">
                    <input class="uk-width-1-1 uk-button uk-button-primary uk-button-large" type="submit" value="login"/>
                </div>

		</form>
        </div>
    </div>
{% endblock %}
