/* ************************************** */

/* Default style sheet for the admin section */

/* general element styles */
body,
html {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poiret One', cursive;
}

/* image display */

.img-resp {
  width: 100%;
  max-height: 20em;
}

/************ header styles *************/
.header-box {
  text-align: center;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  padding-top: 10%;
  margin: 0;
  color: #fffefe;
}

/*********** style the navbar *************/
ul {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  background-color: white;
  margin: 0;
}

li {
  padding: 1rem;
  display: inline;
  text-decoration: none;
}

a {
  color: #100f12;
  text-decoration: none;
  font-size: 1.5em;
}

a:hover {
  border-bottom: thick solid #922b21;
}

li.active {
  background-color: #ea4343;
}

a:active {
  color: white;
}

/* style the read-more link */
a.readmore-link {
  padding: 0;
  color: red;
  font-size: 0.75em;
}

/*********** live search *************/
#searchForm {
  display: flex;
}

#livesearch a {
  background-color: #f9f9f9;
  position: absolute;
  border: thin solid grey;
  padding: 1rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}
#livesearch a:hover {
  background-color: #ea4343;
  color: white; 
}
/********* main content container *********/
.content-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;

  padding: 2%;
}

/* left side section */
.side-section-sm {
  margin: 1%;
  flex: 1 0 0;
  padding: 1%;
}
.main-section {
  display: flex;

  flex-flow: row wrap;
  justify-content: flex-start;
  min-width: 5em;

}
.section {
  text-align: left;
  padding: 1%;
  flex: 1 0 33%;
}

/* right-side section */
.side-section {
  text-align: justify;
  margin: 1%;
  flex: 0.5 0 0;
  padding: 1%;
}

.created {
  font-size: 0.75rem;
  text-align: left;
}

.comment-box {
  border: thin solid lightgray;
  text-align: left;
  height: 80px;
  background-color: #ffffff;
}

/* text input boxes */
.input-box[placeholder] {
  padding: 1rem;
  font-family: "Raleway", sans-serif;
}

.input-box[value] {
  padding: 1rem;
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif;
}

.input-box {
  padding-right: 1rem;
}

/********** login form ***************/
#loginForm {
  text-align: left;
}

/********** footer styles ************/
.footer {
  background-color: #eaecee;
  padding: 1%;
  display: flex;
}

.footer-section-nav {
  flex: 1;
  align-self: flex-start;
}

.footer-section-date {
  text-align: right;
  flex: 1;
  margin-left: auto;
}

ul.footer-links {
  background-color: #eaecee;
  justify-content: flex-start;
}

.footer-section-nav h4 {
  margin-bottom: 0;
  text-align: left;
  padding-left: 0.5rem;
}

.footer-section-date h4 {
  margin-bottom: 0;
  text-align: right;
}

.footer-section-date p {
  margin-top: 0;
}

.footer-links a {
  color: #100f12;
  text-align: justify;
  font-size: 1.1rem;
}

li.footer-nav {
  margin-right: 1%;
  padding: 0;
}

.foot-link {
  font-size: .80rem;
  padding: 0;
}
code {
  font-size: small;
}
/* responsive media queries */
@media only screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }

  ul {
    display: flex;
    justify-content: space-around;
  }

  li {
    padding: 0;
  }

  a {
    padding: 0;
    font-size: 1.2rem;
  }

  .header-box {
    height: 200px;
  }

  .title {
    padding-top: 20%;
    text-align: center;
    font-size: 1.4rem;
  }

  .content-container {
    display: flex;

    /*flex-flow: row-wrap;*/
    flex-direction: column-reverse;
  }
  .main-section {


  }
  #livesearch a {
    background-color: white;
    position: absolute;
    border: thin solid grey;
    padding: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
  }

  a.alt-links {
    padding: 0;
    font-size: 0.5rem;
    display: flex;
  }

  .footer-links a {
    color: black;
    text-align: justify;
    font-size: 0.75rem;
  }
}
