/* additional styles */

/* universal font */
html,body {
    font-family: 'Catamaran', sans-serif;
    font-size: 17px;
}

/* navbar */
#main-nav {
    background-color: #4C78A4;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}
a.uk-navbar-brand {
    font-size: 1.4em;
    color: white;
}
#navbar-toggle {
    color: white;
}
#off-canvas-nav {
    background: #34495E;
}
.uk-icon-phone {
    color: white;
}
ul.uk-navbar-nav>li>a {
    color: white;
    font-family: 'Catamaran', sans-serif;
}
li.active {
    border-bottom: thick solid red;
}

.uk-navbar-nav:hover > li > a {
    background-color: #4C78A4;
    border-bottom: red;
    color: inherit;
}
.uk-navbar-nav>li>a:hover {
    color: orange;
}
.uk-navbar-nav:active > li > a {
    background-color: #4C78A4;
    border-bottom: red;
    color: inherit;
}

#off-canvas-nav {
    width: 50%;
}
/* sticky footer */
.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-content {
    flex: 1;
}

.footer {
    background-color: #d7d7d7;
}
/*live search results div */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {

    display: none;
    list-style-type: none;
    position: absolute;
    top: 85%;
    right: 40%;
    background-color: #00a8e6;
    max-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown-content:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #00a8e6 transparent;
}
/* individual content boxes/panels. */

.uk-panel-title {
    font-family: 'Raleway', sans-serif;
}
.uk-panel-box {
    background: white;

}
.uk-panel-space {
    padding-left: 15px;
    padding-right: 15px;
}
.panel {
    background-color: #34495E;
}
.uk-search-field {
    padding: 0.5rem;
    font-family: "Catamaran", sans-serif;
}
.login-form {
    background-color: #34495E;
}
.uk-article-title {
    font-family: "Raleway", sans-serif;
}
#promo-panel {
    border: thin solid lightgrey;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/* media queries for screens larger than 600px i.e. anything over mobile size*/
@media (min-width: 600px) {
   #main-nav {
       font-size: 2rem;
       font-family: 'Lato', sans-serif;
       padding: 1rem;
   }
    .heading-panel {
        padding: 2rem;
    }
    .uk-panel-title{
        font-size: 2em;
    }
    /* images in individual panels */
    .panel-image {
        width: 100%;
        /*height: 300px;*/
    }
    .car-thumbnail {
        width: 370px;
        height: 250px;
    }
    .search-box {
        width: 60%;
        margin: auto;
        border: thin solid black;
    }
}
