{% extends '_base.html.twig' %}
{% set active_page="dashboard" %}
{% block title %}
    Admin dashboard
{% endblock %}
{% block message %}
    {% if result is defined %}
        Well done, {{ result|raw }} new page created.
    {% endif %}
{% endblock %}
{% block content %}
    
        <h2>ADMINISTRATION</h2>
        <p>Welcome to the administrators section.</p> 
        <p>Here you can create new web-pages, edit your pages content and more..</p>
        <p>Use the search box to search for articles.</p>
        <p>Your current web pages and images are shown on the right hand section</p>
        <p>
            Use the navigation bar to move through the sections. You can always get back to this screen by clicking the dashboard link.
        </p>
       
    
{% endblock %}
