{% extends '_base.html.twig' %}
{% set active_page = "promotions" %}
{% block title %}
    Admin Promotions
{% endblock %}
{% block content %}
    <div class="uk-panel">
        <h2><i>Create a new promotion record:</i></h2>
        {% if count == 1 %}
            <div class="uk-width-1-2 uk-container-center uk-alert uk-alert-success">
                <p class="uk-text-center">Good job. Theres a new entry on your promotions modal.</p>
            </div>
        {% endif %}

        <p>
            Fill in the form below, make sure all fields are filled out and it will be added to your promotion modal.
        </p>

        {% include 'forms/_promotionForm.html.twig' %}

    </div>
{% endblock %}