{% extends '_base.html.twig' %}
{% set active_page = 'content' %}
{% block title %}
    Admin Content
{% endblock %}
{% block content %}
    <div class="sm-container">
        <h2>SINGLE CONTENT</h2>
        {{ count }}



                

          </div> 
       
    
{% endblock %}
