{% extends '_base.html.twig' %}
{# Set the links for the pages dropdown menu #}
{% set pagesSubNav = [['create-page', 'Create a new web-page'], ['view-pages', 'View current pages'], ['delete-page', 'Remove a page']] %}
{# set the active page to be styled. Do this on every different page #}
{% set active_page = "pages" %}
{% block title %}
    Admin Pages
{% endblock %}
{% block content %}
    <h2>Current Pages</h2>
    {% for page in app.pages %}
        <i class="uk-text-danger">{{ page.pageName }}</i>
        <div class="sm-container">

            <a class="uk-button uk-button-link" href="/{{ page.pageRoute }}" target="_blank">Preview</a>
        </div>
    {% endfor %}
{% endblock %}
