{# {% if pages is defined %} #}
    {% for page in app.pages %}
        <li class="footer-nav"><a class="foot-link" href="{{ app.request.basepath }}/{{ page.pageRoute|lower }}">{{ page.pageName|capitalize }}</a></li>
    {% endfor %}
{# {% endif %} #}
