{# The footer #}


<div class="uk-align-left">
	<h3>Quicklinks</h3>
    	<ul class="uk-nav uk-nav-side uk-contrast">
           {% include 'footerNav.html.twig' %}
    	</ul>
</div>
<div class="uk-align-right">
    <h3 class="uk-text-contrast">&copy; McGoverns Garage</h3>
    <h5>Dunleer, Drogheda.</h5>
    <h6>Contact: tommymcgovern@gmail.com</h6>
    {# the twig now function gives the current time with a filter for the current date (taken from the twig docs) #}
    	<p>{{ "now"|date("y/m/d") }}</p>
</div>
