{# the home page template #}
{% extends 'base.html.twig' %}

{% set active_page = 'home' %}

{% block title %}
    {{ active_page }}
{% endblock %}
{% block content %}
{% endblock %}
 {% block unique_page_content %}
     <div class="uk-grid" data-uk-margin>
         <div class="uk-width-medium-1-3">
             <div class="uk-panel uk-panel-box uk-panel-header">
                 <h2 class="uk-panel-title">Sales</h2>
                 <div class="uk-panel-teaser">
                     <img class="panel-image" src="images/santa_fe.jpg" alt="generic car pic">
                 </div>
                 <p>Here at McGovern's we stock a range of used and new cars.</p>
                 <a href="/sales" class="uk-button uk-button-primary">More Details</a>
             </div>
         </div>


         <div class="uk-width-medium-1-3">
             <div class="uk-panel uk-panel-box uk-panel-header">
                 <h2 class="uk-panel-title">Repairs</h2>
                 <div class="uk-panel-teaser">
                     <img class="panel-image" src="images/engine.jpg" alt="engine pic">
                 </div>
                 <p>Here at McGovern's we also repair all kinds of car problems</p>
                 <a href="#" class="uk-button uk-button-primary">More Details</a>
             </div>
         </div>


         <div class="uk-width-medium-1-3">
             <div class="uk-panel uk-panel-box uk-panel-header">
                 <h2 class="uk-panel-title">Service</h2>
                 <div class="uk-panel-teaser">
                     <img class="panel-image" src="images/car-service.jpg" alt="engine pic">
                 </div>
                 <p>We also do full services for under 100 euro.</p>
                 <a href="#" class="uk-button uk-button-primary">More Details</a>
             </div>
         </div>
     </div>
 {% endblock %}












