{# the home page template #}
{% extends 'base.html.twig' %}

{% set active_page = 'home' %}

{% block title %}
    {{ active_page }}
{% endblock %}
{# 3 panels containing introductory pictures/text to different sections of the site #}
 {% block unique_page_content %}
     <div class="uk-grid" data-uk-margin>
         <div class="uk-width-medium-1-3">
             <div class="uk-panel uk-panel-box uk-panel-header">
                 <h2 class="uk-panel-title">Sales</h2>
                 <div class="uk-panel-teaser">
                     <img class="panel-image" src="images/santa_fe.jpg" alt="generic car pic">
                 </div>
                 <p>Here at McGovern's we stock a range of used and new cars.</p>
                 <a href="/sales" class="uk-button uk-button-primary">More Details</a>
             </div>
         </div>


         <div class="uk-width-medium-1-3">
             <div class="uk-panel uk-panel-box uk-panel-header">
                 <h2 class="uk-panel-title">Repairs</h2>
                 <div class="uk-panel-teaser">
                     <img class="panel-image" src="images/engine.jpg" alt="engine pic">
                 </div>
                 <p>Here at McGovern's we also repair all kinds of car problems</p>
                 <a href="#" class="uk-button uk-button-primary">More Details</a>
             </div>
         </div>


         <div class="uk-width-medium-1-3">
             <div class="uk-panel uk-panel-box uk-panel-header">
                 <h2 class="uk-panel-title">Service</h2>
                 <div class="uk-panel-teaser">
                     <img class="panel-image" src="images/car-service.jpg" alt="engine pic">
                 </div>
                 <p>We also do full services for under 100 euro.</p>
                 <a href="#" class="uk-button uk-button-primary">More Details</a>
             </div>
         </div>
     </div>
 {% endblock %}
{# information and introduction to the business #}
{% block individual_page_heading %}
    <div class="uk-grid">
        <div class="uk-width-1-1">
            <div id="heading-panel" class="uk-article">
                <h1 class="uk-article-title">About Us.</h1>
                <p class="uk-article-lead">McGoverns Garage have been servicing and repairing all makes and models for decades.</p>
                <p>It is a family owned and managed business and we are happy to assist our customers in any way we can now and in the future for their motoring needs.
                    We also have competitive prices to meet the demanding fuel cost etc. for your motoring needs or domestic heating oil available from our pumps.
                    We are happy to quote for tyres, batteries, lights etc and are confident to supply our trusted brand product suppliers.
                    Also collection and delivery available to meet your busy needs. Thanking you, McGoverns.</p>
            </div>
        </div>
    </div>
{% endblock %}












