{# the home page template #}
{% extends 'base.html.twig' %}

{% set active_page = 'home' %}

{% block title %}
{{ active_page }}
{% endblock %}
 {% block home %}
     <div class="uk-grid">
         <div class="uk-width-medium-1-3">
             <div class="uk-panel uk-panel-box uk-panel-header">
                 <h2 class="uk-panel-title">Sales</h2>

                 <p>Here at McGovern's we stock a range of used and new cars.</p>
             </div>
         </div>


         <div class="uk-width-medium-1-3">
             <div class="uk-panel uk-panel-box uk-panel-header">
                 <h2 class="uk-panel-title">Repairs</h2>
                 <div class="uk-panel-teaser">
                     <img src="images/engine.jpg" alt="engine pic">
                 </div>
                 <p>Here at McGovern's we also repair all kinds of car problems</p>
             </div>
         </div>


         <div class="uk-width-medium-1-3">
             <div class="uk-panel uk-panel-box uk-panel-header">
                 <h2 class="uk-panel-title">Service</h2>
                 <p>We also do full services for under 100 euro.</p>
             </div>
         </div>
     </div>
 {% endblock %}












